body {
    background-color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
   font-size: x-large;
   font-weight: bolder;
   color: darkslategray;
   margin: 20px; 
}

#magic8img {
    margin: 50px;
}

h2 {
    margin: 50px;
}

table, td, tr{
    text-align: center;
}

#resultsTable, #results{
    margin: auto;
    align-content: center;
    text-align: center;

}

th{
    background-color: gray;
}