@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Magic 8-Ball</h1>
    <img id="magic8img" src ="https://appinventor.mit.edu/explore/sites/all/files/Teach/media/image_8_ball.jpg" height=200vh/>
    <h2>OUTPUT OF MOST RECENT CLICK</h2>


    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
